* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --black: #1d1d1d;
}

body {
  background: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  transform: scale(1.3);
  transform-origin: center center;
}

canvas {
  border-radius: 4rem;

}